@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.App-header {
  height: 50px;
  margin-bottom: 40px;
  .app-body {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;

    .menu-first-child span {
      margin-left: 5px;
    }
    .app-body_date span {
      display: block;
    }
    .app-body_memu {
      display: flex;
      justify-content: space-evenly;
      width: 60%;
    }
  }
}
