@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.App {
  .App-header {
    height: 50px;
    margin-bottom: 40px;
  // box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
 
  }
  .all-tasks-title {
    min-width: 450px;
    text-align:center;
    margin: 0 auto;
    font-size: 14px;
  }
}
